.login_content{
    left: 35%;
    position: relative;
}

.input_fields{
    margin-top: 10%;
}

.login_button{
    margin-top: 10%;
    padding-left: 30%;
}

.register_href{
    padding-left: 13%;
}

.register_button{
    margin-top: 10%;
    padding-left: 30%;
}

.login_href{
    padding-left: 13%;
}

.register_content{
    left: 33%;
    position: relative;
}

.radio_role{
    padding-top: 2%; 
}

.radio{
    padding-left: 10%; 
}